extends base.pug
block content
  main
    nav.library-nav.d-flex.gap-4
      a#playlists.text-light.color-active.p-2.rounded(href='./playlists') Playlists
      a#artists.p-2.rounded(href='./artists') Artists
      a#albums.p-2.rounded(href='./albums') Albums
    div
      .row
        h3.col-12.py-4 Playlists
      .row
        .col-xxl-4.col-xl-6.col-md-8.col-sm-12
          a.favorite-card.p-3.rounded.bg-dark.d-flex.flex-column.align-items-center.justify-content-center(href='/favorite')
            button.btn-play
              svg.svg-play(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' d='M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z')
            h4.mt-2 Favorite songs
            small= tracks.total
              |  favorite songs
        each playlist in playlists
          .col-xxl-2.col-xl-3.col-md-4.col-sm-6.mb-4
            a.main-card.p-3.rounded-2(href=`/playlist/${playlist.id}`)
              .wrapper-img
                img(src=(playlist.images[0] ? `${playlist.images[0].url}` : `../img/card-bg.svg`) class=(playlist.images[0] ? '' : 'default-bg') alt='playlist cover')
                button.btn-play
                  svg.svg-play(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' d='M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z')
              h4.mt-2.title= playlist.name
              small.text-muted= playlist.owner.display_name