extends base.pug
block content
  main.gradient
    .d-flex.align-items-stretch.mb-3.gap-5
      .playlist-img
        img(src= (playlist.images[0] ? `${playlist.images[0].url}` : '../img/card-bg.svg') class=(playlist.images[0] ? '' : 'default-bg') alt='playlist image')
      .d-flex.flex-column.text-white.justify-content-end
        small Playlist
        h1.playlist-name.text-main(data-bs-toggle="modal" data-bs-target="#changeDetails")= playlist.name
        small= `${playlist.owner.display_name} • `
          span.amount-liked-track= `${playlist.tracks.total} songs • `
    .wrapper-table
      button.btn-play-playlist.align-items-center.justify-content-center.rounded-circle
        svg(viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M16.1378 10.5689L9.60498 7.30252C8.40816 6.70411 7 7.5744 7 8.91249V15.0876C7 16.4257 8.40816 17.2959 9.60498 16.6975L16.1378 13.4311C17.3171 12.8415 17.3171 11.1586 16.1378 10.5689Z' fill='#222222')
      svg.menu-icon(id="dropdownPlaylistMenu" data-bs-toggle="dropdown" aria-expanded="false" width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#808080" stroke-width="1" stroke-linecap="round" stroke-linejoin="miter")
        line(x1="6.99" y1="12" x2="7" y2="12" stroke-linecap="round" stroke-width="3")
        line(x1="13.99" y1="12" x2="14" y2="12" stroke-linecap="round" stroke-width="3")
        line(x1="20.99" y1="12" x2="21" y2="12" stroke-linecap="round" stroke-width="3")
      ul.dropdown-menu.dropdown-menu-dark(aria-labelledby="dropdownPlaylistMenu")
        li.dropdown-item.delete-playlist(data-bs-toggle="modal" data-bs-target="#deletePlaylist") Delete
      table.table.table-playlist
        thead
          tr
            th.col-1.text-center #
            th.col-4 Name
            th.col-4 Album
            th.col-1
              svg.logo-main(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' d='M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z')
        tbody.align-middle
          -
            let rowNum = 1;
          each item in playlist.tracks.items 
            -
              let min = Math.floor(item.track.duration_ms / 60000);
              let sec = Math.floor(Math.round(item.track.duration_ms % 60000) / 1000);
            tr(class= savedTracks.get(item.track.id) ? 'liked' : '').chosen-track(id=item.track.id)
              th.col-1.text-center
                span.number-track= `${rowNum++}`
                div.logo-main.play-btn.play-icon

              td.col-4
                .d-flex.gap-3
                  img.icon-album(src=`${item.track.album.images[0].url}` alt='album')
                  .d-flex.flex-column
                    small.d-block.name-liked-track= item.track.name
                    small.d-block.singer-liked-track= item.track.artists[0].name
              td.col-4
                .d-flex.justify-content-between
                  span= item.track.album.name
                  .heart-svg-table
                    svg(class= savedTracks.get(item.track.id) ? 'active-icon' : '').heart-icon(id=item.track.id xmlns='http://www.w3.org/2000/svg' fill='transparent' viewbox='-20 0 850 850' stroke-width='30' stroke='none')
                      path(d='M459,19.28c-63.743,0-115.094,35.209-153.593,80.995C267.999,52.94,216.744,19.28,153,19.28 C63.227,19.28,0,96.469,0,180.638c0,45.154,18.494,77.686,38.747,108.229l237.781,285.078c26.699,25.033,31.729,25.033,58.427,0 l238.316-285.078C597.082,258.324,612,225.792,612,180.638C612,96.469,548.772,19.28,459,19.28z')
              td.col-1
                  .d-flex.justify-content-start.align-items-center
                    .track-duration.me-2= `${min}:${(sec < 10 ? '0' : '')}${sec}`
                    .dropdown
                      svg.menu-icon(id="dropdownTrackMenu" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#808080" stroke-width="1" stroke-linecap="round" stroke-linejoin="miter")
                        line(x1="6.99" y1="12" x2="7" y2="12" stroke-linecap="round" stroke-width="4")
                        line(x1="13.99" y1="12" x2="14" y2="12" stroke-linecap="round" stroke-width="4")
                        line(x1="20.99" y1="12" x2="21" y2="12" stroke-linecap="round" stroke-width="4")
                      ul.dropdown-menu.dropdown-menu-dark(aria-labelledby="dropdownTrackMenu")
                        li.dropdown-item.d-flex.justify-content-between.align-items-center ◀
                          span Add to playlist
                          ul.dropdown-menu.dropdown-menu-playlists.dropdown-menu-dark
                            each playlist in playlists
                              li.dropdown-item(playlist-id=`${playlist.id}` track-uri= `${item.track.uri}`)= playlist.name
                        li.dropdown-item.remove-item(track-uri= `${item.track.uri}`) Remove from playlist
  .modal.fade.playlist-modal.text-light(id="changeDetails" tabindex="-1" aria-labelledby="changeDetailsLabel" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h5.modal-title.fw-bold Change Details
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body 
          .modal-error.bg-danger Playlist name required
          form(id= "playlist-form")
            label.form-label(for="playlist-name") Name
            .input-group.mb-3
              input.form-control.input-name(type="text" id="playlist-name" aria-describedby="basic-addon3" maxlength='100')
        .modal-footer
          button.btn.btn-light.btn-save-details(type="button" form="playlist-form") Save
  .modal.fade.delete-playlist-modal.text-light(id="deletePlaylist" tabindex="-1" aria-labelledby="deletePlaylistModal" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h5.modal-title.fw-bold Delete from library?
        .modal-body This will delete playlist from Library.
        .modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
          button.btn.btn-light.btn-delete-playlist(type="button" form="playlist-form") Delete
